# Go
server/tmp/
server/bin/
*.exe
*.test
*.out

# Node
web/node_modules/
web/dist/
node_modules/
dist/

# Env & local
.env
*.local

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Logs
*.log
web/src/assets/
